* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(159 218 255);
}

header {
    line-height: 200px;
    text-align: center;
    background: rgb(1 184 255);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
  padding-bottom: 50px;
}
form{
    line-height: 50px;
    text-align: center;
    margin-top: -40px;
}
input{
    background-color: rgb(4 167 228);
    padding: 30px 300px;
    border: none;
    border-radius: 100px;
    color: white;   
}

button {
    background: rgb(1 184 255);
    padding: 25px 25px;
    border: none;
    border-radius: 100px;
    color: white;
}

.add-icon {
    width: 20px;
    height: 20px; 
}

ul {
    margin-top: 25px;
    background: rgb(1 184 255);
    list-style: none;
    border: none;
    border-radius: 100px;
    color: white;
    text-align: center;
    
    
}
li {
    margin: 25px 50px;
     
}